@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body{
	background-image: url('../images/middag.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-color: #111111;
	
}

#main{
	display: grid;
	grid-gap: 10px; 
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"groet groet"
	"datum datum"
	"klok klok"
	"raket raket"
}

.groet{
  grid-area: groet;
}

.datum{
  grid-area: datum;
}

.klok{
  grid-area: klok;
}

.raket{
  grid-area: raket;
  position: relative;
}

h1{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 0px;
	color: #fff;
	display: block;
}

p{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

#clock{
	font-family: 'Roboto Mono', monospace;
	color: #fff;
	font-size: 80px;
	font-weight: 700;
	width: 300px;

}

#rocket.animation {
	transition-duration: 3s;
	opacity: 1;
}

#rocket{
	position: absolute;
	height: 300px;
	animation:1000ms hover infinite alternate ease-in-out;
}

@keyframes hover {
  0% { 
  	top: 110px; 
  }
  100% { 
  	top: 80px;
  }
}

/*De afmetingen voor de apple watch*/
@media screen and (min-width: 150px){
	body{
		margin: 5px;
		width: 136px;
		height: 178px;
	}

	#main{
		display: grid;
		grid-gap: 1px; 
		grid-template-columns: 1fr;
		grid-template-areas: 
		"groet"
		"datum"
		"klok"
		"raket"
	}

	h1{
		display: none;
		font-size: 20px;
	}

	#clock{
		font-size: 30px;
	}
}

/*De afmetingen voor de mobile telefoon*/
@media screen and (min-width: 300px){
	body{
		margin: 50px;
		height: 736px;
	}
	h1{
		display: block;
		font-size: 30px;
	}

	#clock{
		font-size: 50px;
		text-align: left;
		}
}

/*Afmetingen voor de ipad*/
@media screen and (min-width: 1000px){
	body{
		height: 768px;
	}

	#main{
		display: grid;
		grid-gap: 1px; 
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"groet raket"
		"datum raket"
		"klok raket"
	}

	#rocket{
		margin-left: 100px;
	}

	#clock{
		font-size: 70px;
	}

	#date{
		font-size: 30px;
	}

	h1{
		font-size:40px;
	}
}

/*afmetingen voor de laptop*/
@media screen and (min-width: 1300px){
	#main{
		display: grid;
		grid-gap: 10px; 
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"groet raket raket"
		"datum raket raket"
		"klok raket raket"
	
	}

	#clock{
		font-size: 80px;
	}

	#date{
		font-size: 40px;
	}

	h1{
		font-size: 40px;
	}

	#rocket{
		margin-left: 300px;
	}

}

/*afmetingen voor een grote desktop*/
@media screen and (min-width: 1900px){
	body{
		height: 1080px;
	}
	#main{
		display: grid;
		grid-gap: 10px; 
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"groet raket raket"
		"datum raket raket"
		"klok raket raket"
	
	}
	#clock{
		font-size: 100px;
	}

	h1{
		font-size: 50px;
	}
}



